.top,
.mid,
.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top {
	justify-content: flex-start;
}

.mid {
	justify-content: center;
}

.bottom {
	justify-content: flex-end;
}
