.maps {
	display: grid;
	width: 50vw;
	margin: 5rem auto;
	grid-template:
		'activeMap inactiveMap' 1fr
		'activeMap inactiveMap' 1fr
		'activeMap controls' 1fr / 5fr 3fr;
	grid-gap: 2rem;
}

.active-map {
	height: 100%;
	width: auto;
	grid-area: activeMap;
	border: 2px solid var(--color-item-shadow);
	background: linear-gradient(180deg, #51565a 0%, #262b2d 100%);
	box-shadow: 0.15rem 0.15rem 0 0 var(--color-item-shadow);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.inactive-map {
	height: 100%;
	width: auto;
	grid-area: inactiveMap;
	border: 2px solid var(--color-item-shadow);
	background: linear-gradient(180deg, #f5f5f5 0%, #bebebe 100%);
	box-shadow: 0.15rem 0.15rem 0 0 var(--color-item-shadow);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.controls {
	grid-area: controls;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.area {
	text-align: center;
	padding: 2.5rem 0;
	width: min(50%, 20rem);
	height: 8rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.area-drop-zone {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	z-index: 301;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.3rem;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23838383' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='5' stroke-linecap='round'/%3e%3c/svg%3e");
}

.area-drop-zone.dropped {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='white' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='5' stroke-linecap='round'/%3e%3c/svg%3e");
	padding: 1.5rem 0;
	height: auto;
}

.area-drop-zone.over {
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='red' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='5' stroke-linecap='round'/%3e%3c/svg%3e");
}

.remove {
	border-radius: 100%;
	background: white;
	color: var(--color-item-shadow);
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	right: -0.75rem;
	top: -0.75rem;
	font-size: 0.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget {
	z-index: 302;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: transform 250ms ease;
}

.widget button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 54px;
	flex-shrink: 1;
	appearance: none;
	outline: none;
	border: 0;
	padding: 8px 18px;
	box-shadow: var(--box-shadow);
	transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
		scale(var(--scale, 1));
	transition: box-shadow 300ms ease;
	cursor: grab;
}

.widget.dragging {
	z-index: 1;
	transition: none;
}

.widget.dragging * {
	cursor: grabbing;
}

.widget.dragging > button {
	--scale: 1.06;
	--box-shadow: -1px 0 15px 0 rgba(34 33 81 / 1%),
		0px 15px 15px 0 rgba(34 33 81 25%);
}

.widget.dragging > button:focus-visible {
	--box-shadow: 0 0px 10px 2px #4c9ffe;
}

.widget.widget-overlay,
.widget.dragging > button {
	animation: pop 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
}

@keyframes pop {
	0% {
		transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
			scale(1);
	}

	100% {
		transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
			scale(var(--scale));
		box-shadow: var(--box-shadow);
	}
}
