.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	margin: 2rem 5rem;
	justify-items: start;
	align-items: baseline;
	height: fit-content;
	width: max(50vw, 50rem);
	position: relative;
}

.heading {
	font-weight: var(--font-weight-bold);
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.29em;
	word-spacing: 0.29em;
	align-self: end;
	margin-bottom: 0.5rem;
}
