.clock {
	position: fixed;
	bottom: 0;
	color: transparent;
	opacity: 0.3;
	font-weight: var(--font-weight-bold);
	font-style: italic;
	font-size: 14vw;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.12vw;
	line-height: 0.8; /* Using tabular numbers */
}

@media (width >= 40rem) {
	.clock {
		-webkit-text-stroke-width: 0.08vw;
		font-size: 7.5vw;
		right: 0;
	}
}
