.clock {
	position: fixed;
	right: 0;
	bottom: 0;
	-webkit-text-stroke: 0.08vw white;
	color: transparent;
	opacity: 0.3;
	font-weight: var(--font-weight-bold);
	font-style: italic;
	font-size: 7.5vw;
	line-height: 0.8; /* Using tabular numbers */
}
