:root {
	--color-bg: #35373b;
	--color-item-bg-default: #484848;
	--color-item-shadow: black;
	--color-loading-bar: #29d;
	--color-options-menu-bg: hsl(0deg 0% 75%);
	--color-options-panel-text: black;
	--color-options-form-input: white;
	--color-options-form-input-box-shadow: rgba(0 0 0 / 25%);
	--color-ui: #fff;
	--opacity-ui: 0.55;
	--font-general: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	--font-mono: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	--font-weight-light: 400;
	--font-weight-standard: 700;
	--font-weight-bold: 900;
	--width-item-stroke: 0.08rem;
	--animation-duration-options: 0.4s;
	--animation-timing-options: linear(
		0 0%,
		0 1.8%,
		0.01 3.6%,
		0.03 6.35%,
		0.07 9.1%,
		0.13 11.4%,
		0.19 13.4%,
		0.27 15%,
		0.34 16.1%,
		0.54 18.35%,
		0.66 20.6%,
		0.72 22.4%,
		0.77 24.6%,
		0.81 27.3%,
		0.85 30.4%,
		0.88 35.1%,
		0.92 40.6%,
		0.94 47.2%,
		0.96 55%,
		0.98 64%,
		0.99 74.4%,
		1 86.4%,
		1 100%
	);
}

body {
	background: var(--color-bg);
	font-size: 16px;
	margin: 0;
	font-family: var(--font-general);
	font-weight: var(--font-weight-standard);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'tnum';
	font-kerning: normal;
}

code,
pre {
	font-family: var(--font-mono);
}

pre {
	text-align: left;
	text-wrap: balance;
}

.app {
	text-align: center;
	background-color: var(--color-bg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(1rem + 2vmin);
	color: white;
}
