.item {
	max-width: calc(50vw - 6rem);
	background: var(--color-item-bg-default);
	padding: 3rem;
	border-radius: 2rem;
	border: 0.4rem solid var(--color-item-shadow);
	box-shadow: 1rem 1rem 0 0 var(--color-item-shadow);
	font-size: 2rem;
	font-weight: 700;
	font-family: var(--font-item);
	text-shadow: calc(var(--width-item-stroke) * -1)
			calc(var(--width-item-stroke) * -1) 0 var(--color-item-shadow),
		var(--width-item-stroke) calc(var(--width-item-stroke) * -1) 0
			var(--color-item-shadow),
		calc(var(--width-item-stroke) * -1) var(--width-item-stroke) 0
			var(--color-item-shadow),
		var(--width-item-stroke) var(--width-item-stroke) 0
			var(--color-item-shadow);
}
