.item {
	max-width: calc(50vw - 6rem);
	background: var(--color-item-bg-default);
	padding: 2.8rem;
	border-radius: 2rem;
	border: 0.4rem solid var(--color-item-shadow);
	box-shadow: 1rem 1rem 0 0 var(--color-item-shadow);
	font-size: 2.25rem;
	text-shadow:
		calc(var(--width-item-stroke) * -1) calc(var(--width-item-stroke) * -1)
			0 var(--color-item-shadow),
		var(--width-item-stroke) calc(var(--width-item-stroke) * -1) 0
			var(--color-item-shadow),
		calc(var(--width-item-stroke) * -1) var(--width-item-stroke) 0
			var(--color-item-shadow),
		var(--width-item-stroke) var(--width-item-stroke) 0
			var(--color-item-shadow);
	-webkit-text-stroke: calc(var(--width-item-stroke) / 1.5)
		var(--color-item-shadow);
	z-index: 10;
	line-height: 1.25;
	letter-spacing: 0.0125em;
	overflow-wrap: break-word;
}

.logo {
	position: absolute;
	z-index: 5;
	mix-blend-mode: lighten;
	filter: opacity(0.15) grayscale(1);
	max-width: min(50vw, 25rem);
	height: auto;
	width: auto;
}

.stale {
	opacity: 0.75;
	filter: contrast(0.75);
}
