.panel {
	width: auto;
	display: grid;
	justify-content: center;
	margin: 2rem;
}

@media (width >= 50rem) {
	.panel {
		width: min(50vw, 50rem);
	}
}

.item {
	font-size: 1rem;
	text-align: left;
	font-weight: var(--font-weight-light);
}

.name {
	font-weight: var(--font-weight-standard);
}

.item pre {
	background: white;
	word-break: break-word;
	width: fit-content;
	padding: 1rem;
}

.reset {
	margin-top: 3rem;
}

.pitch {
	background: white;
	font-weight: var(--font-weight-light);
	width: calc(100% - 3.5rem);
	align-self: center;
	padding: 1rem;
	border-radius: 1rem;
	margin-top: 5rem;
	box-shadow: 0.4rem 0.4rem 0 0 var(--color-item-shadow);
	border: 2px solid var(--color-item-shadow);
	justify-self: center;
}

.pitch a {
	font-weight: var(--font-weight-standard);
	color: red;
}

@media (width >= 50rem) {
	.pitch {
		width: min(30vw, 30rem);
	}
}
