.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr 4fr;
	margin: 2rem 5rem;
	justify-items: start;
	align-items: baseline;
	height: fit-content;
	width: max(50vw, 50rem);
}

.form label {
	font-weight: var(--font-weight-bold);
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.29em;
	word-spacing: 0.29em;
	align-self: end;
	margin-bottom: 0.2rem;
}

.form input {
	width: 100%;
	font-family: var(--font-mono);
	font-weight: var(--font-weight-light);
	box-sizing: border-box;
	border: 2px solid var(--color-item-shadow);
	background: var(--color-options-form-input);
	box-shadow: 4px 4px 0 0 var(--color-options-form-input-box-shadow) inset;
	height: 3rem;
	font-size: 1.7rem;
	padding: 0.5rem;
	transition: all 0.2s ease;
}

.form input:focus,
.form input:active {
	/* NEXT: Figure out slight blur, tweak */
	transform: translate(-0.1rem, -0.1rem);
	box-shadow: 4px 4px 0 0 var(--color-item-shadow);
	outline: none;
}

.form button {
	margin-top: 0.5rem;
	justify-self: center;
	padding: 0.25rem 2rem;
	cursor: pointer;
}
