.button {
	position: absolute;
	inset: 0 auto auto 0;
	margin: 0;
	padding: 1.5rem;
	background-color: transparent;
	border: none;
	z-index: 200;
	cursor: pointer;
	outline: none;
	display: grid;
	gap: 0.4rem 0.5rem;
	grid-template:
		'topBarLeft topBarRight topBarRight topBarRight' 1fr
		'bottomBar bottomBar bottomBar bottomBar' 1fr / 1fr 1fr 1fr 1fr;
}

.close-button {
	position: absolute;
	inset: 0 auto auto 0;
	margin: 0;
	padding: 1.75rem;
	background-color: transparent;
	border: none;
	z-index: 210;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all var(--animation-duration-options) ease;
	transform: rotate(-90deg);
	pointer-events: none;
}

.close-button.is-visible {
	opacity: 1;
	transform: rotate(0deg);
	pointer-events: all;
}

.close-button-bar1,
.close-button-bar2 {
	height: 2px;
	background-color: black;
	width: 1.5rem;
	transform-origin: 0.65rem 0.1rem;
}

.close-button-bar1 {
	transform: rotate(45deg);
}

.close-button-bar2 {
	transform: rotate(-45deg);
}

.button-bar1,
.button-bar2,
.button-bar3 {
	height: 0.25rem;
	background-color: var(--color-ui);
	opacity: var(--opacity-ui);
	transition: 0.15s;
}

.button:hover .button-bar1 {
	width: 0.8rem;
}

.button-bar1 {
	width: 0.7rem;
	grid-area: topBarLeft;
}

.button-bar2 {
	width: 60%;
	grid-area: topBarRight;
}

.button-bar3 {
	width: 55%;
	grid-area: bottomBar;
}

.button.is-visible .button-bar1,
.button.is-visible .button-bar2,
.button.is-visible .button-bar3 {
	opacity: 0;
}
