.options-menu {
	position: fixed;
	z-index: 200;
	width: 100vw;
	inset: 0;
	visibility: hidden;
}

.options-menu.active {
	visibility: visible;
}

.options-content-container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.options-content {
	background: linear-gradient(180deg, #cfd9df 0%, #e2ebf0 100%);
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	transform: translateY(-100%);
	transition: all var(--animation-duration-options)
		var(--animation-timing-options);
}

.options-panel {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.active .options-content {
	transform: translateY(0);
}

.slide-transition-enter {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-transition-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
}

.slide-transition-exit {
	transform: translateX(0);
	opacity: 1;
}

.slide-transition-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
}

/* TODO: vars for colors and animation durations */
