.button {
	position: absolute;
	inset: 0 auto auto 0;
	margin: 0;
	padding: 1.5rem;
	background-color: transparent;
	border: none;
	z-index: 200;
	cursor: pointer;
	outline: none;
	display: grid;
	gap: 0.4rem 0.5rem;
	grid-template:
		'topBarLeft topBarRight topBarRight topBarRight' 1fr
		'bottomBar bottomBar bottomBar bottomBar' 1fr / 1fr 1fr 1fr 1fr;
}

.close-button {
	position: absolute;
	inset: 0 auto auto 0;
	margin: 0;
	padding: 1.75rem;
	background-color: transparent;
	border: none;
	z-index: 210;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all var(--animation-duration-options) ease;
	transform: rotate(-90deg);
	pointer-events: none;
}

.close-button.active {
	opacity: 1;
	transform: rotate(0deg);
	pointer-events: all;
}

.close-button-bar1,
.close-button-bar2 {
	height: 2px;
	background-color: black;
	width: 1.5rem;
	transform-origin: 0.65rem 0.1rem;
}

.close-button-bar1 {
	transform: rotate(45deg);
}

.close-button-bar2 {
	transform: rotate(-45deg);
}

.button-bar1,
.button-bar2,
.button-bar3 {
	height: 0.25rem;
	background-color: var(--color-ui);
	opacity: var(--opacity-ui);
	transition: 0.15s;
}

.button:hover .button-bar1 {
	width: 0.8rem;
}

.button-bar1 {
	width: 0.7rem;
	grid-area: topBarLeft;
}

.button-bar2 {
	width: 60%;
	grid-area: topBarRight;
}

.button-bar3 {
	width: 55%;
	grid-area: bottomBar;
}

.button.active .button-bar1,
.button.active .button-bar2,
.button.active .button-bar3 {
	opacity: 0;
}

.options-menu {
	position: fixed;
	z-index: 200;
	width: 100vw;
	inset: 0;
	visibility: hidden;
}

.options-menu.active {
	visibility: visible;
}

.options-bar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: var(--color-ui);
	min-height: 4rem;
	padding-left: 5rem;
	transform: translateX(-100%);
	transition: all var(--animation-duration-options)
		var(--animation-timing-options);
}

.active .options-bar {
	transform: translateX(0);
}

.bar-button {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 0.5rem;
	margin-bottom: 1.5rem;
	width: 6rem;
	position: relative;
	bottom: 0;
	transition:
		color 0.2s ease,
		bottom 0.5s ease;
}

.bar-button .bar-button-label::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0%;
	height: 0.6rem;
	z-index: 2000;
	background: rgba(255 0 0 /50%);
	display: block;
	transition: all 0.1s ease;
	opacity: 0;
}

.bar-button:not(.is-selected):hover .bar-button-label::after {
	opacity: 1;
	width: 90%;
}

.bar-button svg {
	height: 2.5rem;
	padding: 1.5rem 0 0.6rem;
	width: auto;
}

.bar-button-label {
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	color: var(--color-text);
	position: relative;
}

.is-selected {
	color: red;
	bottom: 0.25rem;
}

.indicator {
	position: relative;
}

.indicator::after {
	width: 6rem;
	height: 0.5rem;
	background: rgba(255 0 0 / 50%);
	bottom: 1rem;
	content: '';
	display: block;
	position: absolute;
	transition: all 0.5s ease;
}

/**
* Even space for n tabs,
* viewport divided by n+1 slices
* minus tab width applicable to slice
* plus close button padding applicable to slice
*/
.indicator:has(.bar-button:nth-child(1).is-selected)::after {
	left: calc((100vw * 0.2) - (24rem * 0.2) + (5rem - (5rem * 0.2)));
}

.indicator:has(.bar-button:nth-child(2).is-selected)::after {
	left: calc((100vw * 0.4) - (24rem * 0.15) + (5rem - (5rem * 0.4)));
}

.indicator:has(.bar-button:nth-child(3).is-selected)::after {
	left: calc((100vw * 0.6) - (24rem * 0.1) + (5rem - (5rem * 0.6)));
}

.indicator:has(.bar-button:nth-child(4).is-selected)::after {
	left: calc((100vw * 0.8) - (24rem * 0.05) + (5rem - (5rem * 0.8)));
}

.options-content-container {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.options-content {
	background: linear-gradient(180deg, #cfd9df 0%, #e2ebf0 100%);
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	transform: translateY(-100%);
	transition: all var(--animation-duration-options)
		var(--animation-timing-options);
}

.options-panel {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.active .options-content {
	transform: translateY(0);
}

.slide-transition-enter {
	transform: translateX(-100%);
	opacity: 0;
}

.slide-transition-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
}

.slide-transition-exit {
	transform: translateX(0);
	opacity: 1;
}

.slide-transition-exit-active {
	transform: translateX(100%);
	opacity: 0;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
}

/* TODO: vars for colors and animation durations */
