:root {
	--color-bg: #35373b;
	--color-item-bg-default: #484848;
	--color-item-shadow: black;
	--font-item: 'Public Sans', sans-serif;
	--width-item-stroke: 0.08rem;
}

body {
	font-size: 16px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'tnum';
	font-kerning: normal;
}

code,
pre {
	font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

pre {
	text-align: left;
	text-wrap: balance;
}

.app {
	text-align: center;
	background-color: var(--color-bg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(1rem + 2vmin);
	color: white;
}
